
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 style="color:blue;">Welcome to MVC Programming</h1>
    <h3 style="color:green;font-family:'Times New Roman', Times, serif">Today'Date: @System.DateTime.Now</h3>
</body>
</html>
