
<div class="container">

  <table class="table table-hover">
    <tr>
      <td>Id</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="product.productId">
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="product.productname">
      </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="product.price">
      </td>
    </tr>
    <tr>
      <td>Stock</td>
      <td>
        <input type="number" name="" id="" [(ngModel)]="product.stock">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button on-click="Save()" class="btn">Add</button>
        <button on-click="Search()" class="btn">Search</button>
      </td>

    </tr>
  </table>

  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>{{item.productId}}</td>
        <td>{{item.productname}}</td>
        <td>{{item.price}}</td>
        <td>{{item.stock}}</td>
      </tr>
    </tbody>
  </table>

</div>

