<div class="container">

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>UserId</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of posts">
        <td>{{item.userId}}</td>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
        <td>

          <a [routerLink]="['/post',item.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
