<div class="jumborton">
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<table>
  <tr>
    <td>  <label>Email</label></td>
    <td>
      <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          Email is required
      </div>
    </td>
  </tr>
  <tr>
    <td> <label>Password</label></td>
    <td> <input type="password" formControlName="pwd"/>
      <div *ngIf="submitted && f.pwd.errors">
          <div *ngIf="f.pwd.errors.required">Password is required</div>
      </div></td>
  </tr>
  <tr>
    <td colspan="2">
      <button  [disabled]="submitted && !loginForm.valid">SignIn</button>
      <button  type="reset" (click)="onReset()">Cancel</button>
    </td>
  </tr>
</table>
      </form>
    </div>
</div>
