
<div class="container">

  <table class="table table-hover">
   <tr>
    <td>No1</td>
    <td>
      <input type="number" name="" id="" [(ngModel)]="n1">
    </td>
   </tr>
   <tr>
    <td>No2</td>
    <td>
      <input type="number" name="" id="" [(ngModel)]="n2">
    </td>
   </tr>
   <tr>
    <td colspan="2">
      <button on-click="Addition()" class="btn">Add</button>
    </td>
   </tr>
   <tr>
    <td colspan="2">
      <span class="text-success">{{result}}</span>
    </td>
   </tr>
  </table>
</div>

